<mat-toolbar *ngIf="isLoggedIn() && !router.url.startsWith('/auth') && !router.url.startsWith('/admin') && !router.url.startsWith('/medico')" color="primary">
  <span class="logo">VitalApp</span>
  <span class="spacer"></span>

  <!-- Paciente -->
  <ng-container *ngIf="isPaciente">
    <a mat-button routerLink="/citas" routerLinkActive="active">Citas</a>
    <a mat-button routerLink="/formulas" routerLinkActive="active">Fórmulas</a>
    <a mat-button routerLink="/alertas" routerLinkActive="active">Alertas</a>
    <a mat-button routerLink="/perfil" routerLinkActive="active">Perfil</a>
  </ng-container>

  <button mat-button color="warn" (click)="logout()">Cerrar sesión</button>
</mat-toolbar>

<main class="page">
  <router-outlet></router-outlet>
</main>


